section
  h2 doctype

  | BEFORE:
  pre
    code.
      #{'<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">'}

  | AFTER:
  pre
    code.
      #{'<!DOCTYPE html>'}

section
  h2 html

  | BEFORE:
  pre
    code.
      #{'<html xmlns="http://www.w3.org/1999/xhtml">'}
  | AFTER:
  pre
    code.
      #{'<html>'}

section
  h2 charset
  | BEFORE:
  pre
    code.
      #{'<meta http-equiv="Content-Type" content="text/html; charset=utf-8">'}
  | AFTER:
  pre
    code.
      #{'<meta charset="utf-8">'}

section
  h2 Charset defaults
  ul.read-block
    li http default: ISO8859-1
    li multipart/form data default: US ASCII
    li <b>W3C official recommendation: UTF-8</b>

section
  h2 Charset best practices

  ul.read-block
    li
      p HTTP header
      ul
        li <b>Content-Type: text/html; charset=iso-8859-1</b>
    li
      p META tag
      ul
        li <b>#{'<meta charset="utf-8">'}</b>

section
  h2 link

  | BEFORE:
  pre
    code.
      #{'<link href="styles.css" rel="stylesheet" type="text/css"/>'}
  | AFTER:
  pre
    code.
      #{'<link href="styles.css" rel="stylesheet"/>'}

section
  h2 Typical #{'<link>'} rel values
  pre
    code.
      #{'<link rel="XXX" href="file"/>'}
  p stylesheet, favicon, rss, prefetching...

section
  h2 favicon and touch icon
  p.read-block New <b>touch icon</b> for mobile devices
  p.read-block iPhone adds <b>rounded corners, drop shadow and gleam</b> - Android <b>does not</b>.

  pre
    code.
      &lt;link rel="<b>shortcut icon</b>" href="/favicon.ico">
      &lt;link rel="<b>apple-touch-icon</b>" href="/apple-touch-icon.png">

section
  h2 Precomposed icons
  p The only kind supported by Android 2.1
  p Not supported by extremely old devices

  pre
    code.
      #{'<link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">'}

section.browser-support-container
  mixin browserSupport('13+', '3.6+', 'No', 'No', 'No')
  h2 prefetch, prerender

  pre
    code.
      &lt;link rel="<b>prefetch</b>" href="big.jpg">
      &lt;link rel="<b>prerender</b>" href="next.html">

  p.read-block <b>Prefetch</b> the target link
  p.read-block Based on the <b>read-only</b> nature of GET requests
  p.read-block Also <b>allowed for #{'<a>'} elements</b>

section
  h2 GET vs POST
  ul
    li <b>GET</b>: idempotent request
      ul
        li read-only operations, like retrieving data
    li <b>POST</b>: non-idempotent request
      ul
        li writeable operations, like storing or deleting data
    li <b>Other</b>: PUT, HEAD, DELETE

section
  h2 rel="alternate"
  p RSS autodiscovery

  pre
    code.
      &lt;link <b>rel="alternate" type="application/atom+xml"</b> href="http://www.example.com/xml/index.atom">

      &lt;link <b>rel="alternate" type="application/rss+xml"</b> title="RSS" href="http://www.example.com/xml/index.rdf">

section
  h2 rel="canonical"
  p Tell which one to use in case of multiple URLs

  pre
    code.
      #{'<link rel="canonical" href="http://myhost.com/mypage.html">'}

section
  h2 Other 'rel' values
  p Used in <b>#{'<link>'}</b> tags

  p <b>home, contents, search, glossary, help, start, prev, previous, next, copyright, author</b> – Navigate links

  pre
    code.
      #{'<link rel="next" href="page2.html">'}

section
  h2 #{'<a>'} relationships

section
  h2 rel="license"
  p Specify the license applied to the current page.

  pre
    code.
      #{'<a href="http://creativecommons.org/licenses/by/2.0/" rel="license">'}
        cc by 2.0
      #{'</a>'}

section
  h2 rel="nofollow"
  p Do not affect the PageRank of the link target

  pre
    code.
      | Hi, nice post. BTW, you cannot miss our new
      #{'<a rel="nofollow" href="http://thespammer.com/recipes.html">'}
        ViaGra d0nuTs recipes!
      #{'</a>'}
  img(src="assets/raster/rel-nofollow.png")

section
  h2 Human computation
  p How modern spammers work
  img(src="assets/raster/human-computation.png")

section
  h2 Human computation (II)
  p Introducing porn guy
  img(src="assets/raster/human-computation-2.png")

section
  h2 Human computation (III)
  p Problem solved!
  img(src="assets/raster/human-computation-3.png")

section
  h2 Other 'rel' values
  p Used in <b>#{'<a>'}</b> tags
  ul
    li <b>tag</b> – The link target is an author-designated tag
    li <b>me, friend</b> – XHTML Friends Network (XFN)

  pre
    code.
      #{'<a href="http://technorati.com/tag/tech" rel="tag">tech</a>'}
      #{'<a href="http://jeff.example.org" rel="friend">Jeff</a>'}