section
  h2 Microformats
  p.read-block <b>microformats.org</b>
  p.read-block First initiative to <b>embed metadata with the HTML</b>
  p.read-block <b>Billions of pages</b>
  p.read-block <b>Different formats:</b> Microformat, Microdata, RDFa

section
  h2 schema.org
  p.read-block <b>Widespread adoption</b> by search engines including Google, Bing and Yahoo!
  p.read-block Uses <b>microdata</b> with <b>itemscope</b>, <b>itemtype</b> and <b>itemprop</b>

section
  h2 Example: Person
  p Contact details
  pre
    code.
      &lt;div <b>itemscope itemtype="http://schema.org/Person</b>">
        &lt;span <b>itemprop="name</b>">Jane Doe&lt;/span>
          &lt;a href="mailto:jane-doe@xyz.edu" <b>itemprop="email"</b>>
          jane-doe@xyz.edu&lt;/a>
      #{'</div>'}

section
  h2 Person
  p Not all elements are required
  pre
    code.
      &lt;div itemscope itemtype="<b>http://schema.org/Person</b>">
        &lt;span itemprop="<b>name</b>">Jane Doe&lt;/span>
        &lt;img src="janedoe.jpg" itemprop="<b>image</b>">
        &lt;div itemprop="<b>address</b>" itemscope  itemtype="<b>http://schema.org/PostalAddress</b>">
          &lt;span itemprop="<b>streetAddress</b>">20341 Whitworth Institute&lt;/span>
          &lt;span itemprop="<b>addressLocality</b>">Seattle&lt;/span>
          &lt;span itemprop="<b>addressRegion</b>">WA&lt;/span>
          &lt;span itemprop="<b>postalCode</b>">98052&lt;/span>
        &lt;/div>
        &lt;a itemprop="<b>telephone</b>" href="tel:+14251234567">(425) 123-4567&lt;/a>
        &lt;a href="mailto:jane-doe@xyz.edu" itemprop="<b>email</b>">
          jane-doe@xyz.edu&lt;/a>
      &lt;/div>

section
  h2 Example: Event
  p Event info
  pre
    code.
      &lt;div itemscope itemtype="<b>http://schema.org/Event</b>">
        &lt;a href="http://www.example.com/events/spinaltap" itemprop="<b>url name</b>">Spinal Tap&lt;/a>
        &lt;img src="spinal_tap.jpg" itemprop="<b>image</b>">
        When:
        &lt;meta itemprop="<b>startDate</b>" content="<b>2015-10-15T19:00</b>">
        Oct 15, 7:00PM
      #{'</div>'}

section
  h2 Example: Nested Schemas
  pre
    code.
      &lt;div itemscope itemtype="<b>http://schema.org/Restaurant</b>">
       &lt;span itemprop="<b>name</b>">L’Amourita Pizza&lt;/span>
       &lt;img src="pizza.jpg" itemprop="<b>image</b>">
       #{'</span>'}
       &lt;span itemprop="aggregateRating" itemscope itemtype="<b>http://schema.org/AggregateRating</b>">
          &lt;span itemprop="<b>ratingValue</b>">7&lt;/span> out of
          &lt;span itemprop="<b>ratingCount</b>">24&lt;/span> ratings.
       #{'</span>'}
      #{'</div>'}

section
  h2 Schemas recognized by Google
  p Person, Event, Product, Place, Review, AggregateRating, VideoObject, Movie, etc.

section(data-state="lab")
  h2 Lab: Schema.org
  p Introduce schemas into the proposed page