section
  h2 Removed HTML elements
  p Use CSS instead:
  p <b>big, center, font, strike</b>

section
  h2 Removed elements
  p Use iframe instead:
  p <b>frame, frameset, noframes</b>

section
  h2 Removed elements
  p <b>applet</b>: replaced by object

section
  h2 Removed attributes
  p.read-block <b>align, background, bgcolor, border, cellspacing, cellpadding, height, marginheight, marginwidth, nowrap, scrolling, size, vspace, width...</b>

  a(href="http://www.w3.org/TR/html5-diff/#obsolete-attributes").source HTML5 obsolete attributes (W3C)

section
  h2 Importance tags
  ul
    li <b>Use #{'<b>'}</b>
      ul
        li text without specific emphasis or importance typically represented as bold text
        li keywords, product names, etc.
        li E.g.: Use #{'<b>'} to indicate <b>bold text</b>.
    li <b>Use #{'<strong>'}</b>
      ul
        li Strong semantic importance
        li E.g.: It is <strong>important</strong> that you do not mix styles up!

section
  h2 Emphasis tags
  ul
    li <b>Use #{'<i>'}</b>
      ul
        li text without emphasis or importance, typically represented as italic text
        li technical term, phrase from another language, a ship name, etc.
        li E.g.: Intoxicated from eating too much <i>wasabi</i> at once.
    li <b>Use #{'<em>'}</b>
      ul
        li Stress emphasis: use different voice or mood
        li E.g.: This is not a place for <em>cool</em> people anymore.