extend includes/layout

append title
  title UI Patterns

append slides
  section
    h1 UI Patterns

  section
    h2 Read vs Scan
    ul
      li <b>Reading order</b>: top-left to bottom-right
      li <b>Scanning</b>: F-pattern

  section
    h2 F-shaped pattern
    img(src="assets/raster/jakobs-F.png")
    a.source(href="www.useit.com/alertbox/reading_pattern.html") Source: Jakob Nielsen

  section
    h2 Form label positioning
    img(src="assets/raster/form-label-positioning.png")

  section
    h2 Eye tracking with forms
    img(src="assets/raster/penzo-1.png")
    img(src="assets/raster/penzo-2.png")
    img(src="assets/raster/penzo-3.png")
    a.source(href="http://www.uxmatters.com/mt/archives/2006/07/label-placement-in-forms.php") Source: Matteo Penzo

  section
    h2 Top align
    ul
      li <b>Fastest completion times</b>
      li Easier to compose a <b>flexible HTML model</b>
      li Easier to <b>focus in/out using keyboard</b>
      li More <b>flexible to long labels (i18n)</b>
      li <b>Best for mobile interfaces</b>

  section
    h2 Mobile interfaces
    img(src="assets/raster/mobile-interfaces.png")

  section
    h2 Mobile interfaces (II)
    img(src="assets/raster/mobile-interfaces-2.png")

  section
    h2 When space is a constraint
    p Use either right-align or a placeholder
    img(src="assets/raster/space-constraint.png")

  section
    h2 Multiple selection
    pre
      code.
        #{'<select name="toppings" multiple="multiple" size="5">'}
          #{'<option value="mushrooms">mushrooms</option>'}
          #{'<option value="greenpeppers">green peppers</option>'}
          #{'<option value="onions">onions</option>'}
          #{'<option value="tomatoes">tomatoes</option>'}
          #{'<option value="olives">olives</option>'}
        #{'</select>'}
    img(src="assets/raster/multiple-selection-1.png")

  section
    h2 Multiple checkboxes
    pre
      code.
        #{'<label><input type="checkbox" name="mushrooms">mushrooms</label>'}
        #{'<label><input type="checkbox" name="greenpeppers">green peppers</label>'}
        #{'<label><input type="checkbox" name="onions">onions</label>'}
        #{'<label><input type="checkbox" name="tomatoes">tomatoes</label>'}
        #{'<label><input type="checkbox" name="olives">olives</label>'}
    img(src="assets/raster/multiple-selection-2.png")

  section
    h2 Two  selects
    img(src="assets/raster/multiple-selection-3.png")

  section
    h2 Multiple Autocompleter
    img(src="assets/raster/multiple-selection-4.png")

  section
    h2 Actions
    img(src="assets/raster/actions.png")

  section
    h2 Confirmation messages
    ul
      li Confirmation messages are:
        ul
          li unfriendly
          li distracting
          li innefective
    img(src="assets/raster/confirmation-messages.png")

  section
    h2 Undo instead of confirm
    img(src="assets/raster/undo-1.png")
    img(src="assets/raster/undo-2.png")

  section
    h2 Classic help position
    p <b>Help link</b> at the top right or bottom of the page
    p Let's change this.

  section
    h2 Callout dialog
    p Nice way to <b>introduce new features</b>
    img(src="assets/raster/callout-dialog.png")

  section
    h2 "What's this?"
    p <b>Unobstrusive help</b>, good for learning by doing
    img(src="assets/raster/whats-this.png")

  section
    h2 Inline help
    p Give a hint about the <b>expected input</b>
    img(src="assets/raster/inline-help.png")

  section
    h2 Inline help bad practices
    p Same downsides of <b>label positioning</b>
    img(src="assets/raster/inline-bad.png")

  section
    h2 Placeholder
    p Applicable if the help message is <b>brief enough</b>.
    img(src="assets/raster/placeholder.png")

  section
    h2 Flexibility and simplicity
    p An example of how to spit the user in the eye
    img(src="assets/raster/spit-user.png")

  section
    h2 Classic
    img(src="assets/raster/classic-inline.png")

  section
    h2 Simple
    img(src="assets/raster/simple-maps.png")

  section
    h2 There is a cost
    p A <b>nice design</b> can be a <b>terrible solution</b>
    img(src="assets/raster/design-cost.png")

  section
    h2 Gradual engagement
    p <b>Postpone the details</b> for later
    img(src="assets/raster/gradual-engagement.png")
