section
  h2 Hacks for IE

section
  h2 IE-specific stylesheets
  pre
    code.
      #{'<!--[if IE 7]>'}
      #{'<link type="text/css" href="/ie_hacks7.css"  rel="stylesheet">'}
      #{'<![endif]-->'}

      #{'<!--[if lte IE 6]>'}
      #{'<link type="text/css" href="/ie_hacks6.css"  rel="stylesheet">'}
      #{'<![endif]-->'}

section
  h2 IE-specific selectors
  p Property prefix hacks

  pre
    code.
      _ - £ ¬ ¦                   /* IE 6       */
      .mydiv { _color: blue; }      /* IE 6       */
      ! $ & * ( ) = % + @ , . / ` [ ] # ~ ? : < > |   /* IE 6/7    */
      .mydiv { #color: blue; }        /* IE 6/7    */
  p @media hacks
  pre
    code.
      @media screen\9 { }                /* IE 6/7   */
      @media \0screen\,screen\9 {}               /* IE 6/7/8 */
      @media \0screen { }                /* IE 8      */
      @media screen\0 { }                  /* IE 8/9   */

section
  h2 Conditional classnames

  pre
    code.
      #{'<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->'}
      #{'<!--[if IE 7 ]> <html class="ie7"> <![endif]-->'}
      #{'<!--[if (gt IE 9)|!(IE)]><!--> <html class=""> <!--<![endif]-->'}

      #{'<style>'}
        .content {display: inline-block;}
        .ie6 .content {display: inline; zoom:1;}
        .ie7 .content {display: inline; zoom:1;}
      #{'</style>'}


section
  h2 Conditional stylesheets vs class names
  ul
    li PROS:
      ul
        li Valid HTML and CSS.
        li No additional HTTP requests.
    li CONS:
      ul
        li Add conditional comments to every single HTML page.
        li Increases the specificity of your selectors.

section
  h2 IE7.js
  p <b>ie7.js, ie8.js, ie9.js</b> by Dean Edwards
  p Fixes simple CSS 2 and 3 selectors

section
  h2 IE will render the page as:
  p.read-block Quirks mode: render as IE5
  p.read-block Standards mode (Intranet): IE7
  p.read-block Standards mode (Extranet): IE8 or 9

section
  h2 X-UA-Compatible
  pre
    code.
      #{'<!-- render as ie9 -->'}
      #{'<meta http-equiv="X-UA-Compatible" content="IE=9" />'}

      #{'<!-- render as ie7 (quirks/standard mode, according to doctype) -->'}
      #{'<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />'}

      #{'<!-- render as ie9 or ie7 (avoid ie8) -->'}
      #{'<meta http-equiv="X-UA-Compatible" content="IE=7, IE=9">'}

section
  h2 X-UA-Compatible values
  ul
    li <b>EmulateIE7, EmulateIE8, EmulateIE9:</b> use standards or quirks mode, according to doctype
    li <b>IE7, IE8, IE9:</b> Always use standards mode.
    li <b>IE5:</b> Always use quirks mode
    li <b>edge:</b> Use the best engine available
    li You should <b>avoid using X-UA-Compatible</b> if possible (rely on standards instead)

section
  h2 Chrome Frame
  p If installed, <b>render using Chrome Frame</b>instead of IE.

  | META:
  pre
    code.
      #{'<!-- Use Chrome Frame -->'}
      #{'<meta http-equiv="X-UA-Compatible" content="chrome=1">'}
      #{'<!-- Use IE9 (if installed) or Chrome Frame -->'}
      #{'<meta http-equiv="X-UA-Compatible" content="IE=9,chrome=1">'}

  | HTTP header:
  pre
    code.
      X-UA-Compatible: chrome=1

section
  h2 Multiple values
  p Use IE 9 if available, Chrome Frame otherwise:
  pre
    code.
      #{'<meta http-equiv="X-UA-Compatible" content="IE=9,chrome=1">'}

section
  h2 Install from the server side
  p use the User-Agent header

  | User-Agent:
  pre
    code.
      Mozilla/4.0 (compatible; MSIE 6.0; Windows NT 5.1; SV1; chromeframe/11.0.660.0)

  | Server side:
  pre
    code.
      if (userAgent.contains("MSIE") && !userAgent.contains("chromeframe")) {
        return redirect("/chromeFrameRequired.html");
      }

section
  h2 Install using JavaScript
  p Just invoke the CFInstall script

  pre
    code.
      #{'<html>'}
        #{'<body>'}
          #{'<script type="text/javascript" '}
           #{'src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"></script>'}
          #{'<script>'}
           CFInstall.check({ mode: "overlay", destination: "http://www.waikiki.com" });
          #{'</script>'}
        #{'</body>'}
        #{'</html>'}

section
  h2 Multiple IE versions
  ul
    li <b>Adobe BrowserLab</b>
    li <b>IE 8 compatibility view</b>
    li.small-text MS Expression Web SuperPreview
    li.small-text IETester
    li.small-text Browsium UniBrows
  img(src="assets/raster/ie-versions-1.png")
  img(src="assets/raster/ie-versions-2.png")

section
  h2 IE virtual machines
  p Virtual Machines
  ul
    li Windows 7 virtual XP mode
    li VMWare etc
  img(src="assets/raster/ie-vm.png")

section(data-state="lab")
  h2 Lab: IE compatibility
  p Test pages using Internet Explorer 6, 7, 8 and 9