section
  h2 CSS frameworks
  ul
    li 960gs
    li YAML
    li OOCSS
    li YUI-grid

section
  h2 960 Grid System
  div(style="background-color:white")
    img(src="assets/raster/960.png")

section
  h2 Twitter Bootstrap

  p <b>12</b>-column grid, <b>940px</b> wide
  p Fluid and responsive optionally
  style.
    #ex-bootstrap .row-fluid [class*="span"],
    #ex-bootstrap-grid .row-fluid [class*="span"] {
      min-height: 0;
    }
  #ex-bootstrap
    .row-fluid.
      <div class="span1 grid-block">1</div> <div class="span1 grid-block">1</div> <div class="span1 grid-block">1</div> <div class="span1 grid-block">1</div> <div class="span1 grid-block">1</div> <div class="span1 grid-block">1</div> <div class="span1 grid-block">1</div> <div class="span1 grid-block">1</div> <div class="span1 grid-block">1</div> <div class="span1 grid-block">1</div> <div class="span1 grid-block">1</div> <div class="span1 grid-block">1</div>
    .row-fluid
      .span4.grid-block 4
      .span4.grid-block 4
      .span4.grid-block 4
    .row-fluid
      .span4.grid-block 4
      .span8.grid-block 8
    .row-fluid
      .span6.grid-block 6
      .span6.grid-block 6
    .row-fluid
      .span12.grid-block 12

section
  h2 Example

  pre
    code.
      #{'<div class="row">'}
        #{'<div class="span2">Fee</div>'}
        #{'<div class="span2">Fi</div>'}
        #{'<div class="span2">Fo</div>'}
        #{'<div class="span3 offset3">Fum!!</div>'}
      #{'</div>'}
      #{'<div class="row">'}
          #{'<div class="span4">This is a column</div>'}
          #{'<div class="span7">This is a larger column</div>'}
      #{'</div>'}
  #ex-bootstrap-grid
    .row-fluid
      .span2.grid-block Fee
      .span2.grid-block Fi
      .span2.grid-block Fo
      .span3.offset3.grid-block Fum!!
    .row-fluid
      .span4.grid-block This is a column
      .span7.grid-block This is a larger column

section(data-state="lab")
  h2 Lab: Bootstrap 1
  p Build a layout with Bootstrap

section
  h2 Bootstrap base CSS: Tables
  pre
    code.
      &lt;table class="table">
      ...
      &lt;/table>    
  p Optional classes:
  ul
    li <b>.table-striped</b>
    li <b>.table-bordered</b>
    li <b>.table-hover</b> Same as striped but in hover
    li <b>.table-condensed</b>

section
  h2 Bootstrap base CSS: Forms
  p.read-block Default style is vertical
  iframe(src="assets/html/bootstrap-base-forms1.html", width="700", height="400", style="margin-top: 20px; background-color: white;") 

section
  h2 Bootstrap base CSS: Forms
  p.read-block Optional layouts (applied to the form tag):
  ul
    li <b>.form-search</b>: Inline search like layout
    li <b>.form-inline</b>: Inline components 
    li <b>.form-horizontal</b>: Labels to the right of the components. Control groups needed:
      pre
        code.
          &lt;div class="control-group">
            &lt;label class="control-label" for="inputEmail">Email&lt;/label>
            &lt;div class="controls">
              &lt;input type="text" id="inputEmail" placeholder="Email">
            &lt;/div>
          &lt;/div>

section
  h2 Bootstrap base CSS: Forms
  p.read-block Horizontal form:
  iframe(src="assets/html/bootstrap-base-forms3.html", width="700", height="400", style="margin-top: 20px; background-color: white;") 

section
  h2 Bootstrap base CSS: Forms
  p.read-block Extending controls with addon prepend and append:
  iframe(src="assets/html/bootstrap-base-forms2.html", width="700", height="400", style="margin-top: 20px; background-color: white;") 

section
  h2 Bootstrap base CSS: Forms
  p.read-block Extending controls:
  iframe(src="assets/html/bootstrap-base-forms4.html", width="700", height="400", style="margin-top: 20px; background-color: white;") 

section
  h2 Bootstrap base CSS: Forms
  p.read-block Extending controls:
  iframe(src="assets/html/bootstrap-base-forms5.html", width="700", height="400", style="margin-top: 20px; background-color: white;") 

section
  h2 Bootstrap components
  iframe(src="assets/html/bootstrap-reusable-components.html", width="1000", height="400", style="margin-top: 20px; background-color:white;")

section
  h2 Bootstrap components
  p Navigation bar
  iframe(src="assets/html/bootstrap-navigation-bar.html", width="1000", height="300", style="margin-top: 20px; background-color: white;")

section
  h2 Bootstrap components
  p Responsive navigation bar
  iframe(src="assets/html/bootstrap-navigation-bar-collapsed.html", width="500", height="600", style="margin-top: 20px; background-color: white;")

section
  h2 Bootstrap components
  p Navigation components
  iframe(src="assets/html/bootstrap-navigation-components.html", width="1000", height="470", style="margin-top: 20px; background-color: white;")

section
  h2 Bootstrap JS plugins
  p Pure markup, zero lines of JS
  iframe(src="assets/html/bootstrap-js-plugins.html", width="1000", height="480", style="margin-top: 20px; background-color: white;")

section
  h2 Customization
  .row-fluid
    .span6
      ul
        li Themes:
          ul
            li <a href="http://bootswatch.com">Bootswatch </a>
            li <a href="http://wrapbootstrap.com">WrapBootstrap</a>
        li Snippets:
          ul
            li <a href="http://bootsnipp.com/">Bootsnipp</a>
    .span6
      ul
        li Customize
          ul
            li <a href="http://twitter.github.com/bootstrap/customize.html">Customize Bootstrap</a>
            li LESS source files
          pre
            code.
              @baseFontSize: 13px;
              @tableBorder: #ddd;
              @inputBorderRadius: 3px;
              @gridColumns: 12;
                ...

section(data-state="lab")
  h2 Lab: Bootstrap 2
  p Experiment with the Bootstrap components