section
  h2 HTML

  p.read-block <b>Hypertext Mark-up Language</b>
  p.read-block Developed by <b>Tim Berners-Lee</b> in 1989
  p.read-block Maintained by the <b>World Wide Web Consortium</b> (W3C) since 1996

section
  h2 History of HTML

  ul.read-block
    li <b>HTML 2.0</b>: 1995
    li <b>HTML 3.2</b>: January 1997
    li <b>HTML 4.0</b>: December 1997
    li <b>HTML 5</b>: 2004 (first draft in 2008)

section
  h2 Tags
  .row-fluid
    .span6
      ul.read-block
        li With / without content
        li Attributes enclosed by double quotes
        li Semantic CSS
        li Lowercase
    .span6
      pre
        code.
          #{'<div>'}
            #{'<p class="header">'}
              Text content
            #{'</p>'}
            #{'<hr>'}
            #{'<img src="a.gif" title="Foo">'}
          #{'</div>'}

section
  h2 Most frequent tags

  ul
    li <b>Headers</b>: h1, h2, h3
    li <b>Containers</b>: div, p, span
    li <b>Image</b>: img
    li <b>Links</b>: a, link, script
    li <b>Lists</b>: ul, li
    li <b>Tables</b>: table, thead, tbody, tr, td, th
    li <b>Forms</b>: form, input, select, textarea, label

section
  h2 doctype
  ul.read-block
    li <b>Quirks mode</b>
    li <b>Standards mode</b>
    li <b>XHTML</b>

section
  h2 Quirks mode

  p Default mode in <b>Internet Explorer 6 and 7</b>

  pre
    code.
      #{'<html>'}
      ...
      #{'</html>'}

section
  h2 Some differences

  .row-fluid
    .span6
      p QUIRKS MODE
      pre
        code.
          /* traditional box model */
          .boxmodel {
             width: 10px; <b>/* total: 10px */</b>
             border: 1px solid #fff;
             padding: 2px;
          }

          /* missing units */
          .padded {
             padding: 5; <b>/* defaults to px */</b>
          }
    .span6
      p STANDARDS MODE
      pre
        code.
          /* W3C box model */
          .boxmodel {
             width: 10px; <b>/* total: 16px */</b>
             border: 1px solid #fff;
             padding: 2px;
          }

          /* missing units */
          .padded {
             padding: 5; <b>/* ignored */</b>
          }

section
  h2 Trigger Standards Mode

  p What Google does
  pre
    code.
      <b>#{'<!doctype html>'}</b>
      #{'<html>'}
      ...
      #{'</html>'}

section
  h2 XHTML vs HTML

  ul.read-block
    li <b>Case sensitive</b>
    li <b>Void entities:</b> img, br, hr
    li <b>Unexpected end tags:</b> #{'</br> </p>'}
    li <b>Unescaped & and &lt;</b>
    li <b>CDATA elements</b>: script and style

section
  h2 Some differences
  .row-fluid
    .span6
      p <b>XHTML</b>
      pre
        code.
          #{'<p>Hello</p>'}
          #{'<p>world</p>'}
          #{'<img src="hello?foo=1&amp;amp;bar=2"/>'}
          #{'<script type="text/javascript">'}
          #{'<![CDATA['}
          ... unescaped script content ...
          ]]>
          #{'</script>'}
    .span6
      p <b>HTML</b>
      pre
        code.
          #{'<p>'}Hello
          #{'<p>'}world
          #{'<IMG src="hello?foo=1&bar=2">'}
          #{'<script>'}
          ... unescaped script content ...
          #{'</script>'}

section
  h2 XHTML is a bad idea

  ul
    li <b>Internet Explorer</b> doesn't support XHTML
    li No <b>parsing error recovery</b>
    li Any <b>JavaScript code</b> must be inside a CDATA block
    li Any <b>entities</b> (&amp;amp;) must be escaped
    li In general, there is <b>nothing to gain by using XHTML</b>

section
  h2 XHTML headers

  p The browser will parse HTML unless it finds the HTTP header

  p <b>Content-Type: application/xhtml+xml</b>

  pre
    code.
      #{'<?xml version="1.0" encoding="UTF-8"?>'}
      #{'<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">'}
      #{'<html xmlns="http://www.w3.org/1999/xhtml">'}
      ...
      #{'</html>'}