section
  h2 Important
  p These techniques (animations, transitions, transformations) should be use moderately

section.browser-support-container
  mixin browserSupport('All', '5+', '4+', '10+', '12+')
  h2 animation
  .row-fluid
    pre
      code.small-text.span6.
        @-webkit-keyframes bounce {
          from {
            left: 0px;
          }
          to {
            left: 200px;
          }
        }

      code.small-text.span6.
        div {
          -webkit-animation-name: bounce;
          -webkit-animation-duration: 4s;
          -webkit-animation-iteration-count: 10;
          -webkit-animation-direction: alternate;
          -webkit-animation-timing-function: ease-in;
        }

  style
    @-webkit-keyframes bounce {
      from {
        left: 10%;
      }
      to {
        left: 70%;
      }
    }
    #ex-animation {
      position: relative;
      height: 100px;
    }
    #ex-animation .animated {
      height: 100px;
      border-radius: 5px;
      width: 20%;
      position: absolute;

      -webkit-animation-name: bounce;
      -webkit-animation-duration: 4s;
      -webkit-animation-iteration-count: 10;
      -webkit-animation-direction: alternate;
      -webkit-animation-timing-function: ease-in;
    }
  #ex-animation
    .animated.yellow-bg


section
  h2 webkit-animation-direction

  p -webkit-animation-direction: <b>normal | alternate</b>

section
  h2 animation frames

  pre
    code(style="-webkit-column-count: 2;").small-text.
      @-webkit-keyframes pulse {
       0% {
         background-color: !{ourRed.hex};
         -webkit-transform: scale(1.0) rotate(0deg);
       }
       33% {
         background-color: !{ourBlue.hex};
         -webkit-transform: scale(1.1) rotate(-5deg);
       }
       67% {
         background-color: !{ourPurple.hex};
         -webkit-transform: scale(1.1) rotate(5deg);
       }
       100% {
         background-color: !{ourRed.hex};
         -webkit-transform: scale(1.0) rotate(0deg);
       }
      }
      .pulsing {
        -webkit-animation-name: pulse;
        -webkit-animation-duration: 4s;
        -webkit-animation-iteration-count: 10;
        color: black;
      }
  #ex-animation-frames
    style
      @-webkit-keyframes pulse {
       0% {
         background-color: !{ourRed.hex};
         -webkit-transform: scale(1.0) rotate(0deg);
       }
       33% {
         background-color: !{ourBlue.hex};
         -webkit-transform: scale(1.1) rotate(-5deg);
       }
       67% {
         background-color: !{ourPurple.hex};
         -webkit-transform: scale(1.1) rotate(5deg);
       }
       100% {
         background-color: !{ourRed.hex};
         -webkit-transform: scale(1.0) rotate(0deg);
       }
      }
      #ex-animation-frames .pulsing {
        -webkit-animation-name: pulse;
        -webkit-animation-duration: 4s;
        -webkit-animation-iteration-count: 10;
        color: black;
      }
    p.pulsing This paragraph should pulse. Pulsing is the new blink. <br>You heard it here first.

section(data-state="lab")
  h2 Lab: Animations

  p Imitate the Mac button behavior using CSS3 animations
