section
  mixin browserSupport('All', 'All', 'All', '9+', '9.5+')
  h2 rgba
  p rgba<b>(red, blue, green, alpha)</b>
  pre
    code.
      .using-opacity {
        opacity: .5;
      }
      .using-rgba {
        background-color: rgba(!{ourRed.R}, !{ourRed.G}, !{ourRed.B}, .5);
      }
  #ex-rgba
    .using-opacity OPACITY
    <br>
    .using-rgba RGBA
  style
    .using-opacity {
      background-color: !{ourRed.rgb};
      opacity: .3;
      color: black;
    }

    .using-rgba {
      background-color: rgba(!{ourRed.R}, !{ourRed.G}, !{ourRed.B}, .5);
      color: black;
    }

section
  h2 Wherever a color fits in
  p <b>background, color, border, shadow</b>
  pre
    code.
      .block {
        background: rgb(218, 37, 29); /* fallback */
        background: rgba(218, 37, 29, .5);
        text-shadow: 0 0 10px rgba(0, 0, 0, .5);
      }