section.browser-support-container
  mixin browserSupport('All', 'All', 'All', '9+', '9.5+')
  h2 rgba
  p rgba<b>(red, blue, green, alpha)</b>
  pre
    code.
      .using-opacity {
        opacity: .5;
      }
      .using-rgba {
        background-color: rgba(!{ourRed.R}, !{ourRed.G}, !{ourRed.B}, .5);
      }
  style
    .using-opacity {
      background-color: !{ourRed.rgb};
      opacity: .5;
    }
    .using-rgba {
      background-color: rgba(!{ourRed.R}, !{ourRed.G}, !{ourRed.B}, .5);
    }
    .using-opacity, .using-rgba {
      color: black;
      line-height: 50px;    
    }
  #ex-rgba.row-fluid
    .using-opacity.span6 OPACITY
    .using-rgba.span6 RGBA

section
  h2 Wherever a color fits in
  p <b>background, color, border, shadow</b>
  pre
    code.
      .block {
        background: rgb(218, 37, 29); /* fallback */
        background: rgba(218, 37, 29, .5);
        text-shadow: 0 0 10px rgba(0, 0, 0, .5);
      }


section(data-state="lab")
  h2 Lab: CSS3 buttons
  p Repeat the buttons from the previous module using just CSS3