//- Miscellaneous stuff removed from the CSS3 module

section
  h2 What is a pixel?
  ul(style="float: left;")
    li
      p Usually<span style="color:red">*</span>:
      p &emsp; 1 CSS px = 1 device pixel
    li
      p Zooming in (200%):
      p &emsp; 0.5 CSS px = 1 device pixel
    li
      p Zooming out (50%):
      p &emsp; 2 CSS px = 1 device pixel
  img(style="float: right;", width="200", src="assets/svg/pixels.svg")

section
  h2 What is a pixel?
  p Two<span style="color:red">*</span> kinds of pixels
  ul.read-block
    li <b>CSS pixels</b> (abstract)
    li <b>Device pixels</b> (or physical pixels)

section
  h2 Pixels again
  p (<span style="color:red">*</span>)  1 CSS pixel = 0.5-1.5 device pixels
  p An additional layer between CSS px and device px
  .row-fluid(style="margin-top: 40px;")
    .span3.offset2
      .viewport-mobile-example
        h6.ipsum Lorem ipsum and stuff...
        .row-fluid
          .span9
            p.ipsum.read-block Cabbage groundnut caulie celery wakame kombu broccoli pea sprouts mustard artichoke asparagus scallion dulse summer purslane.
          .span3
            .picture.red-bg
        p.ipsum.read-block Avocado lotus root carrot gumbo yarrow azuki bean lentil beet greens scallion celery fennel pea.
    .span7
      ul.fragment.small-text
        li
          p "Low-cost" smartphone:
          p Screen 240×320, reports 320×427
        li
          p High density display:
          p Screen 640×960, reports 320×480

section
  h2 Flexible images
  .row-fluid#fluid-example-2
    style
      #fluid-example-2 img {
        min-width: 30px;
        max-width: 100%;
      }
    .span5.row-fluid.offset1
      .span8
        div(style="background-color:#f5f0f0;")
          img(src="assets/svg/blank-image.svg", width="80%"
            style="")
      .span4
        div(style="background-color:#f0f5f0;")
          img(src="assets/svg/blank-image.svg", width="70%",
            style="")
    .span2(style="background: url(assets/svg/arrow.svg) no-repeat center center;\
      background-size: 80%;\
      height: 200px")
    .span3.row-fluid
      .span8
        div(style="background-color:#f5f0f0;\
          height: 200px;")
          img(src="assets/svg/blank-image.svg", width="80%"
            style="")
      .span4
        div(style="background-color:#f0f5f0;\
          height: 250px;")
          img(src="assets/svg/blank-image.svg", width="70%",
            style="")
section
  h2 sFIR icons
  pre
    code.
      .icon {
        background: url('icons-sprite.png') no-repeat;
        width: 0px;
        height: 12px;
        display: inline-block;
      }

      .icon-mail {
        background-position: -10px -40px;
      }
      ...
  pre
    code.
      #{'<span class="icon icon-mail"></span>'}
      #{'<span class="icon icon-star"></span>'}
  style
    #ex-sfir-icons span {
      width: 30px;
      height: 30px;
      margin-right: 10px;
      background-size: 30px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      display: inline-block;
    }
  #ex-sfir-icons
    div(style="text-align: center;")
      span(style="background-image: url(assets/svg/icon-mail.svg);") 
      span(style="background-image: url(assets/svg/icon-star.svg);") 
