section.browser-support-container
  mixin browserSupport('10+', '3.6+', '5.1+', '10+', '11.1+')
  h2 gradient
  pre
    code.
      .block {
        background: !{ourOrange.hex};
        background: -moz-linear-gradient(top,  !{ourOrange.hex} 0%, !{ourYellow.hex} 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,!{ourOrange.hex}), color-stop(100%,!{ourYellow.hex}));
        background: -webkit-linear-gradient(top,  !{ourOrange.hex} 0%,!{ourYellow.hex} 100%);
        background: -o-linear-gradient(top,  !{ourOrange.hex} 0%,!{ourYellow.hex} 100%);
        background: -ms-linear-gradient(top,  !{ourOrange.hex} 0%,!{ourYellow.hex} 100%);
        background: linear-gradient(to bottom,  !{ourOrange.hex} 0%,!{ourYellow.hex} 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='!{ourOrange.hex}', endColorstr='!{ourYellow.hex}',GradientType=0 );
      }
  #ex-linear-gradient
    style
      #ex-linear-gradient {
        height: 100px;
        background: -moz-linear-gradient(top,  !{ourOrange.hex} 0%, !{ourYellow.hex} 100%);
        background: -webkit-linear-gradient(top,  !{ourOrange.hex} 0%,!{ourYellow.hex} 100%);
        background: linear-gradient(to bottom,  !{ourOrange.hex} 0%,!{ourYellow.hex} 100%);
      }

section.browser-support-container
  mixin browserSupport('10+', '3.6+', '5.1+', '10+', '12+')
  h2 Radial gradients
  pre
    code.
      background-color: !{ourRed.hex};

      background: -moz-radial-gradient(30% 50%, 40px 40px, !{ourOrange.hex}, !{ourYellow.hex} 60%);
      /*...*/
      background: radial-gradient(30% 50%, 40px 40px, !{ourOrange.hex}, !{ourYellow.hex} 60%)

  style
    #ex-radial-gradient {
      height: 100px;
      background: -moz-radial-gradient(30% 50%, 40px 40px, !{ourOrange.hex}, !{ourYellow.hex} 60%);
      background: -webkit-radial-gradient(30% 50%, 100px 100px, !{ourOrange.hex}, !{ourYellow.hex} 60%);
    }
  #ex-radial-gradient
  p(style="margin-top:0.5em") Gradients generator at <a href="http://www.colorzilla.com/gradient-editor/">http://www.colorzilla.com/gradient-editor/</a>