section
  h2 Legacy mobile 
  pre
    code.
      &lt;link rel="stylesheet" media="handheld">

section.browser-support-container
  mixin browserSupport('All', '3.5+', 'All', '9+', '9.5+')
  h2 New media queries
  pre
    code.
      @media only screen and (width: 600px) {
        .class {
          background: #ccc;
        }
      }
  pre
    code.
      &lt;link rel="stylesheet" href="small.css" 
          media="only screen and (height: 300px)">

section
  h2 max-width
  .row-fluid
  .span6
    pre
      code.
        /* Default CSS */

        @media (max-width: 900px) {
          /* Small */
          ...
        }
        @media (max-width: 480px) {
          /* Very small */
          ...
        }
  .span6.fragment
    pre
      code.
        /* Mobile first */

        @media (min-width: 480px) {
          /* Large */
          ...
        }
        @media (min-width: 900px) {
          /* Larger */
          ...
        }

section
  h2 Viewport
  p Space available for the layout
  p AKA browser window width
  .viewport-example
    h6.ipsum Lorem ipsum and stuff...
    .row-fluid
      .span8
        p.ipsum.read-block Cabbage groundnut caulie celery wakame kombu broccoli pea sprouts mustard artichoke asparagus scallion dulse summer purslane. 
        p.ipsum.read-block Avocado lotus root carrot gumbo yarrow azuki bean lentil beet greens scallion celery fennel pea.
      .span3.offset1
        .picture.red-bg

section
  h2 Mobile viewports
  p <b>Visible viewport</b> vs <b>Layout viewport</b>
  .viewport-example
    .visible-viewport
    h6.ipsum Lorem ipsum and stuff...
    .row-fluid
      .span8
        p.ipsum.read-block Cabbage groundnut caulie celery wakame kombu broccoli pea sprouts mustard artichoke asparagus scallion dulse summer purslane. 
        p.ipsum.read-block Avocado lotus root carrot gumbo yarrow azuki bean lentil beet greens scallion celery fennel pea.
      .span3.offset1
        .picture.red-bg

section
  h2 Initial size
  p Disable default layout viewport (between 800 and 1000px)

  pre
    code.
      #{'<meta name="viewport" content="width=device-width">'}

section
  h2 Mobile phones lie
  .row-fluid(style="margin-top: 40px;")
    .span2.offset2
      .viewport-mobile-example
        h6.ipsum Lorem ipsum and stuff...
        .row-fluid
          .span9
            p.ipsum.read-block Cabbage groundnut caulie celery wakame kombu broccoli pea sprouts mustard artichoke asparagus scallion dulse summer purslane.
          .span3
            .picture.red-bg
    .span7
      ul.small-text
        li
          p Low-cost smartphone:
          p Screen <b>240×320</b>, reports <b>320×427</b>
        li
          p High density display:
          p Screen <b>640×960</b>, reports <b>320×480</b>
        li.fragment Don't try to fix this!

section
  h2 Other media queries
  p Not very useful/consistent
  ul.read-block
    li @media: <b>device-width</b>, <b>orientation</b>, <b>aspect-ratio</b> <br>
    li #{'<meta name="viewport">'} : <b>target-densitydpi</b>
  p.fragment Stick with <b>max/min-width</b> and <b>content="width=device-width"</b>

section(data-state="lab")
  h2 Lab: Media Queries
  p Use media queries with CSS

section
  section
    h2 Responsive design
    #ex-rwd-large
      iframe(src="assets/html/rwd.html", width="95%", height="400px")

  section
    h2 Responsive design
    #ex-rwd
      iframe(src="assets/html/rwd.html", width="75%", height="400px")

  section
    h2 Responsive design
    #ex-rwd
      iframe(src="assets/html/rwd.html", width="35%", height="400px")

section
  h2 Fluid grids
  p Keep everything relative
  .row-fluid
    .span5.row-fluid.offset1
      .span8
        div(style="height: 200px;").red-bg
      .span4
        div(style="height: 250px;").green-bg
    .span2(style="background: url(assets/svg/arrow.svg) no-repeat center center;\
      background-size: 80%;\
      height: 200px")

    .span3.row-fluid
      .span8
        div(style="height: 200px;").red-bg
      .span4
        div(style="height: 250px;").green-bg

section
  h2 Fluid grids
  p Keep everything relative

  ul
    li <b>Percentages for lengths</b> (beware of the margin/padding different behaviors)

    li Limit the flexibility with <b>max/min-width or overflow</b>

  pre
    code.
      .two-columns {
        width: 46%;
        margin-left: 2%;
      }

section
  h2 Flexible images
  p Percentages for media sizes, max-width: 100%
  #flexible-images-example
    style
      #flexible-images-example .parent {
        height: 300px;
        width: 80%;
        margin: auto auto;
        padding-top: 50px;
        box-sizing: border-box;
      }
      #flexible-images-example img {
        display: block;
        max-width: none;
        margin: 0 0 0 10px;
      }

    .row-fluid
      .span4
        .parent(style="background: #bbb;")
          img(src="assets/svg/blank-image.svg", width="130px")
      .span2.fragment
        .parent.red-bg
          img(src="assets/svg/blank-image.svg", width="130px")
      .span2.fragment
        .parent.red-bg
          img(src="assets/svg/blank-image.svg", width="50%")
      .span2.offset1.fragment
        .parent.green-bg
          img(src="assets/svg/blank-image.svg", width="100%", style="margin: 0;")

section
  section
    h2 Flexible images
    p Center background

    pre
      code.
        .illustration {
          background: url(its-cold.png) no-repeat 50% 0;
        }

  section
    h2 Flexible images
    p Center background

    iframe(src="assets/html/cropped-bg.html", width="600", height="400")
    a(href="http://commons.wikimedia.org/wiki/File:3months-old_crossbreed_cats.jpg").source Picture from Wikimedia Commons
  section
    h2 Flexible images
    p Center background

    iframe(src="assets/html/cropped-bg.html", width="400", height="400")
  section
    h2 Flexible images
    p Center background

    iframe(src="assets/html/cropped-bg.html", width="200", height="400")

section
  h2 Responsive images
  p Serving different images for different displays

section
  h2 High density displays
  p Pixel density above 200 PPI
  p.small-text iPhone4 (326), iPad3 (264),<br> Galaxy Nexus (316), Galaxy SIII (306)

section
  h2 High density displays
  p Prefixed media query <br> <b>device-pixel-ratio</b>
  pre
    code.
      @media only screen and (min--moz-device-pixel-ratio: 2),
      only screen and (-o-min-device-pixel-ratio: 2/1),
      only screen and (-webkit-min-device-pixel-ratio: 2),
      only screen and (min-device-pixel-ratio: 2) {

         /* Custom CSS here */

      }

section
  h2 Duplicate downloads
  p Using cookies

  pre
    code.
      #{'<img src="picture.jpg" data-large="picture-large.jpg">'}

      document.cookie ="device_dimensions="+screen.width+"x" + screen.height;
  p Using noscript

  pre
    code.
      #{'<noscript '}
        data-img="picture-default.jpg"
        data-imgsmall="picture-small.jpg">
        #{'<img src="picture-default.jpg">'}
      #{'</noscript>'}

      $('noscript[data-img]').replaceWith(getImage(this));

section
  h2 SVG
  p XML based vector graphics
  pre
    code.
      #{'<defs>'}
        #{'<linearGradient y2="100%" id="our-gradient">'}
          #{'<stop offset="30%" stop-color="#fff"></stop>'}
          #{'<stop offset="70%" stop-color="#a34"></stop>'}
        #{'</linearGradient>'}
      #{'</defs>'}

      #{'<circle cx="100" cy="100" r="80" fill="url(#our-gradient)" stroke="#a34" stroke-width="5"></circle>'}
  svg(version="1.1", height="200", width="200")
    defs
      linearGradient(y2="100%")#our-gradient
        stop(offset="30%", stop-color="#fff")
        stop(offset="70%", stop-color="#a34")
    circle(cx="100", cy="100", r="80", fill="url(#our-gradient)", stroke="#a34", stroke-width="5")

section
  mixin browserSupport('4+', '4+', '5+', '9+', '9.5+')
  h2 SVG
  p.read-block Suitable for <b>simple images</b>
  p.read-block Support in mobile is <b>limited</b>
  .row-fluid
    .offset1.span1(style="background: url(assets/svg/html5.svg) no-repeat; background-size: contain; height: 300px;")
    .offset1.span2(style="background: url(assets/svg/html5.svg) no-repeat; background-size: contain; height: 300px;")
    .offset1.span4(style="background: url(assets/svg/html5.svg) no-repeat; background-size: contain; height: 300px;")

section
  h2 SVG inclusion
  p HTML IMAGE ELEMENT:
  pre
    code.
      #{'<img src=”diagram.svg”>'}

  p CSS BACKGROUND:
  pre
    code.
      .diagram {
        background-image: url('diagram.svg');
      }

  p INLINE SVG ELEMENT: 
  pre
    code.
      #{'<svg height=86 width=90 viewBox="5 9 90 86" style="float: right;"">'}
        #{'<path stroke=#F53F0C ... />'}
        #{'<line stroke-width=10 ... />'}
      #{'</svg>'}


section
  h2 Media queries
  p When fluid is not enough
  iframe(src="assets/html/rwd.html", width="70%", height="400px")
  iframe(src="assets/html/rwd.html", width="30%", height="400px")

section
  h2 Screen sizes
  img(src="assets/raster/screen-stats.png")

section
  h2 Goldilocks approach
  .row-fluid#goldilocks-example
    style
      #goldilocks-example {
        margin-top: 40px;
      }
      #goldilocks-example p {
        border: 1px #333 solid;
        height: 200px;
        line-height: 200px;
        background-color: #ccc;
      }

    .span4(style="margin: 0;")
      p(style="width:30%; margin:0 34%;") Small
    .span4
      p(style="width:50%; margin:0 24%;") Right
    .span4
      p(style="width:70%; margin:0 14%;") Big
  p(style="margin-top: 40px;") Keep it <b>simple</b>

section
  h2 RWD with Bootstrap
  pre
    code.
      #{'<'}div class="<b>row-fluid</b>">
          #{'<div class="span2">Fee</div>'}
          #{'<div class="span2">Fi</div>'}
          #{'<div class="span2">Fo</div>'}
          #{'<div class="span3 offset3">Fum!!</div>'}
      #{'</div>'}
  pre
    code.
      .row-fluid .span2 {
        width: 14.52991452991453%;
      }
section
  section
    h2 RWD with Bootstrap
    p Several media queries implemented

    p 0 – 480px – 768px – 980px – 1200px


    pre
      code.
        #{'<'}link href="<b>bootstrap-responsive.css</b>" rel="stylesheet">

    #ex-bootstrap-rwd
      .row-fluid
        .span2.grid-block Fee
        .span2.grid-block Fi
        .span1.grid-block.offset2 Fo
        .span4.grid-block Fum!
  section
    h2 RWD with Bootstrap
    p Several media queries implemented

    p 0 – 480px – 768px – 980px – 1200px


    pre
      code.
        #{'<'}link href="<b>bootstrap-responsive.css</b>" rel="stylesheet">

    #ex-bootstrap-rwd-2
      style
        #ex-bootstrap-rwd-2 [class^="span"] {
          float: none;
          width: 100%;
          margin-bottom: 5px;
          margin-left: 0;
        }
      .row-fluid
        .span2.grid-block Fee
        .span2.grid-block Fi
        .span1.grid-block.offset2 Fo
        .span4.grid-block Fum!

section(data-state="lab")
  h2 Lab: Responsive design
  p Make a web page responsive