mixin browserSupport(chrome, ff, safari, msie, opera)
  .browser-support
    .support.chrome
    .support-version !{chrome}
    .support.ff
    .support-version !{ff}
    .support.safari
    .support-version !{safari}
    .support.msie
    .support-version !{msie}
    .support.opera
    .support-version !{opera}

mixin priorities(inline, ids, classes, elements)
  .priorities
    .labels
      small inline
      small IDs
      small classes
      small elements
    .levels
      .priority-level
        !{inline}
      .priority-level
        !{ids}
      .priority-level
        !{classes}
      .priority-level
        !{elements}

mixin labHeader(title)
  //- For IDs, exclude everything after a colon ':'
  -var labId = title.match(/([^:]+)(:.+)?/)[1];
  h2(id="lab-" + labId.toLowerCase().replace(' ', '-')) !{title}
