mixin browserSupport(chrome, ff, safari, msie, opera)
  .browser-support
    .support-chrome
      span !{chrome}
    .support-ff
      span !{ff}
    .support-safari
      span !{safari}
    .support-msie
      span !{msie}
    .support-opera
      span !{opera}

mixin priorities(inline, ids, classes, elements)
  .priorities
    .labels
      small inline
      small IDs
      small classes
      small elements
    .levels
      .priority-level
        !{inline}
      .priority-level
        !{ids}
      .priority-level
        !{classes}
      .priority-level
        !{elements}
