mixin browserSupport(chrome, ff, safari, msie, opera)
  .browser-support
    .support-chrome 
      span !{chrome}
    .support-ff 
      span !{ff}
    .support-safari 
      span !{safari}
    .support-msie 
      span !{msie}
    .support-opera 
      span !{opera}